<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

	 <!-- 引入angular的js -->
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <!-- 引入分页相关的JS和CSS -->
    <script type="text/javascript" src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!-- 文件上传JS -->
    <script type="text/javascript" src="../js/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="../js/ng-file-upload.min.js"></script>
    <!-- 分页JS -->
    <script type="text/javascript" src="../js/base_pagination.js"></script>
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/controller/goodsController.js"></script>
    <script type="text/javascript" src="../js/service/goodsService.js"></script>
    <script type="text/javascript" src="../js/service/itemCatService.js"></script>
    <!-- 富文本编辑器 -->
    <script charset="utf-8" src="../js/kindeditor/kindeditor.js"></script>
    <script charset="utf-8" src="../js/kindeditor/zh-CN.js"></script>
    
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="goodsController" ng-init="searchEntity={};search();">
                    <div class="box-header with-border">
                        <h3 class="box-title">商品列表</h3>
                    </div>
                    <div class="box-body">
                        <!-- 数据表格 -->
                        <div class="table-box">
                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" ng-click="entity={};itemImages={};introduceImages={}" data-toggle="modal" data-target="#addModal" class="btn btn-default" title="新增" ><i class="fa fa-trash-o"></i> 新增</button>
                                        <button type="button" ng-click="dele()" class="btn btn-default" title="删除" ><i class="fa fa-trash-o"></i> 删除</button>
                                        <button type="button" class="btn btn-default" title="刷新" ><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
                                                                                      商品名称：<input type="text" ng-model="searchEntity.goodsName">
                                                                                      品牌名称：<input type="text" ng-model="searchEntity.brandName">
                                                                                      店铺名称：<input type="text" ng-model="searchEntity.sellerName">
                                                                                      分类名称：<input type="text" ng-model="searchEntity.categoryName">
									<button class="btn btn-default" ng-click="search()">查询</button>                                    
                                </div>
                            </div>
                              <!--工具栏/-->
			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable" ng-init="itemImages={};introduceImages={}">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">商品ID</th>
									      <th class="sorting">商品名</th>
									      <th class="sorting">类名</th>
									      <th class="sorting">品牌名</th>
									      <th class="sorting">店铺</th>
									      <th class="sorting">商城价</th>
									      <th class="sorting">成交价</th>
									      <th class="sorting">是否上架</th>
									      <th class="sorting">是否启用规格</th>
									      <th class="sorting">型号</th>
									      <th class="sorting">商品图片</th>
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="entity in list">
			                              <td><input ng-click="updateSelection($event,entity.goodsId)" type="checkbox"></td>			                              
				                          <td>{{entity.goodsId}}</td>
				                          <td>{{entity.goodsName}}</td>
				                          <td>{{entity.categoryName}}</td>
				                          <td>{{entity.brandName}}</td>
				                          <td>{{entity.sellerName}}</td>
				                          <td>{{entity.price}}</td>
				                          <td>{{entity.reducedPrice}}</td>
				                          <td>{{entity.isMarketable}}</td>
				                          <td>{{entity.isEnableSpec}}</td>
				                          <td>{{entity.goodsType}}</td>
				                          <td><img alt="{{entity.goodsName}}" src="{{entity.smallPic}}" height="50" width="100"></td>
		                                  <td class="text-center">                                          
		                                 	  <button type="button" ng-click="findById(entity.goodsId);"  data-toggle="modal" data-target="#addModal" class="btn bg-olive btn-xs" >修改</button>                  
		                                 	  <!-- <button type="button" data-target="#addModal" class="btn bg-olive btn-xs" >详情</button>  -->                 
		                                  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                        
                        </div>
                        <!-- 数据表格 /-->
                         <!-- 分页 -->
						<tm-pagination conf="paginationConf"></tm-pagination>
                     </div>
                    <!-- /.box-body -->
   <!-- 编辑窗口 -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">商品编辑</h3>
		</div>
		<div class="modal-body">		
			<table class="table table-bordered table-striped"  width="800px">
		      	<tr>
		      		<td>商品名称</td>
		      		<td><input ng-model="entity.goodsName" class="form-control" placeholder="商品名称" >  </td>
		      	</tr>		      	
		      	<tr>
		      		<td>品牌</td>
		      		<td>
			      		 <select ng-model="entity.brandId" class="btn btn-default"   ng-init="initBrandList();">
	                       <option >-----------请选择----------</option> 
	                       <option ng-repeat="brand in brandList" value="{{brand.id}}">{{brand.name}}</option> 
	                     </select>
                    </td>
		      	</tr>
		      	<tr>
		      		<td>店铺</td>
		      		<td>
		      		    <select ng-model="entity.sellerId" class="btn btn-default"   ng-init="initSellerList();">
		      		       <option >-----------请选择----------</option> 
	                       <option ng-repeat="seller in sellerList" value="{{seller.sellerId}}">{{seller.name}}</option> 
	                     </select>
		      		</td>
		      	</tr>
		      	<tr>
		      		<td>父类目</td>
		      		<td>
		      		     <select ng-model="entity.categoryId1" class="btn btn-default"   ng-init="initCategory1List();"  ng-change="initCategory2List();">
		      		       <option >-----------请选择----------</option> 
	                       <option ng-repeat="category in categoryParentList" value="{{category.id}}">{{category.name}}</option> 
	                     </select>
		      		</td>
		      	</tr>
		      	<tr>
		      		<td>子类目</td>
		      		<td>
		      		     <select ng-model="entity.categoryId2" class="btn btn-default">
		      		       <option >-----------请选择----------</option> 
	                       <option ng-repeat="category in categoryChildList" value="{{category.id}}" >{{category.name}}</option> 
	                     </select>
		      		</td>
		      	</tr>
		      	<tr>
		      		<td>商城价</td>
		      		<td><input ng-model="entity.price" class="form-control" placeholder="商城价" >  </td>
		      	</tr>
		      	<tr>
		      		<td>打折价</td>
		      		<td><input ng-model="entity.reducedPrice" class="form-control" placeholder="打折价" >  </td>
		      	</tr>
		      	<tr>
		      		<td>是否上架</td>
		      		<td >
		      		   <input type="radio"  name="isMarketable" ng-checked="true" ng-click="setIsMarketable(1)"/>上架
		      		   <input type="radio"  name="isMarketable" ng-click="setIsMarketable(0)"/>不上架
		      		</td>
		      	</tr>
		      	<tr>
		      		<td>是否启用规格</td>
		      		<td >
                       <input type="radio"  name="isEnableSpec" ng-checked="true"  ng-click="setIsEnableSpec(1)"/>启用
		      		   <input type="radio"  name="isEnableSpec" ng-click="setIsEnableSpec(0)"/>不启用		      		
		      		</td>
		      	</tr>
		      	<tr>
		      	    <td>型号</td>
		      		<td>
		      		   <input type="text" ng-model="entity.goodsType" class="form-control" placeholder="商品型号" >
					</td>
		      	</tr>
		      	<tr>
		      	   <td>商品列表小图片上传</td>
		      	   <td>
		      	       <input type="file" id="smallPic" ngf-select ng-model="entity.smallPic" ngf-pattern="'image/*" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB"/> 
		      	   </td>
		      	   <td>
		      	   <button class="btn btn-primary" type="button" ng-click="uploadSmallPic()">
				                   		上传
				   </button>	
				   </td>
		      	</tr>
		      	<tr>
		      	   <td>商品列表小图片预览</td>
		      	   <td><img src="{{entity.smallPic}}" height="50" width="100">
		      	   </td>
		      	</tr>
		      	<tr>
		      	   <td>商品详情轮播图片上传</td>
		      	   <td>
		      	       <input type="file" id="itemImages" ngf-select ng-model="entity.itemImages" multiple="multiple" ngf-pattern="'image/*" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB"/>
		      	   </td>
		      	   <td>
		      	   <button class="btn btn-primary" type="button" ng-click="uploadItemImages()">
				                   		上传
				   </button>
				   </td>
		      	</tr>
		      	<tr>
		      	   <td>商品详情轮播图片预览</td>
		      	   <td >
		      	        <span ng-repeat="imgModel in itemImages track by $index"><img src="{{imgModel}}" height="50" width="100"></span>
		      	   </td>
		      	</tr>
		      	</tr>
		      	<tr>
		      	   <td>商品介绍图片上传</td>
		      	   <td>
		      	       <input type="file" id="itemIntroduceImages" ngf-select ng-model="entity.introduceImages" multiple="multiple" ngf-pattern="'image/*" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB"/>
		      	   </td> 
		      	   <td>  
		      	   <button class="btn btn-primary" type="button" ng-click="uploadIntroduceImages()">
				                   		上传
				   </button>
				   </td>
		      	</tr>
		      	<tr>
		      	   <td>商品介绍图片预览</td>
		      	   <td >
		      	        <span ng-repeat="imgModel in introduceImages track by $index"><img src="{{imgModel}}" height="50" width="50"></span>
		      	   </td> 
		      	</tr>
		      	<tr>
		      	   <td>商品参数</td>
		      	   <td>
		      	       <textarea ng-model="entity.introduce"  rows="5" cols="50"></textarea>
		      	   </td>    
		      	</tr>		      	
			 </table>				
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="add()">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
     
</body>

</html>