<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinyougou.mapper.TbCardMapper" >
  <resultMap id="BaseResultMap" type="com.pinyougou.pojo.TbCard" >
    <id column="cid" property="cid" jdbcType="VARCHAR" />
    <result column="cpoint" property="cpoint" jdbcType="VARCHAR" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="cphone" property="cphone" jdbcType="VARCHAR" />
    <result column="crid" property="crid" jdbcType="VARCHAR" />
    <result column="cdid" property="cdid" jdbcType="VARCHAR" />
    <result column="cuid" property="cuid" jdbcType="BIGINT" />
    <result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cid, cpoint, cname, cphone, crid, cdid, cuid, createDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinyougou.pojo.TbCardExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_card
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_card
    where cid = #{cid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_card
    where cid = #{cid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinyougou.pojo.TbCardExample" >
    delete from tb_card
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinyougou.pojo.TbCard" >
    <selectKey resultType="java.lang.String" keyProperty="cid" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_card (cid, cpoint, cname, 
      cphone, crid, cdid, 
      cuid)
    values (UUID(), #{cpoint,jdbcType=VARCHAR}, #{cname,jdbcType=VARCHAR}, 
      #{cphone,jdbcType=VARCHAR}, #{crid,jdbcType=VARCHAR}, #{cdid,jdbcType=VARCHAR}, 
      #{cuid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.pinyougou.pojo.TbCard" >
    <selectKey resultType="java.lang.String" keyProperty="cid" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      cid,
      <if test="cpoint != null" >
        cpoint,
      </if>
      <if test="cname != null" >
        cname,
      </if>
      <if test="cphone != null" >
        cphone,
      </if>
      <if test="crid != null" >
        crid,
      </if>
      <if test="cdid != null" >
        cdid,
      </if>
      <if test="cuid != null" >
        cuid,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{cid,jdbcType=VARCHAR},
      <if test="cpoint != null" >
        #{cpoint,jdbcType=VARCHAR},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="cphone != null" >
        #{cphone,jdbcType=VARCHAR},
      </if>
      <if test="crid != null" >
        #{crid,jdbcType=VARCHAR},
      </if>
      <if test="cdid != null" >
        #{cdid,jdbcType=VARCHAR},
      </if>
      <if test="cuid != null" >
        #{cuid,jdbcType=BIGINT},
      </if>
      <if test="createdate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinyougou.pojo.TbCardExample" resultType="java.lang.Integer" >
    select count(*) from tb_card
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_card
    <set >
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=VARCHAR},
      </if>
      <if test="record.cpoint != null" >
        cpoint = #{record.cpoint,jdbcType=VARCHAR},
      </if>
      <if test="record.cname != null" >
        cname = #{record.cname,jdbcType=VARCHAR},
      </if>
      <if test="record.cphone != null" >
        cphone = #{record.cphone,jdbcType=VARCHAR},
      </if>
      <if test="record.crid != null" >
        crid = #{record.crid,jdbcType=VARCHAR},
      </if>
      <if test="record.cdid != null" >
        cdid = #{record.cdid,jdbcType=VARCHAR},
      </if>
      <if test="record.cuid != null" >
        cuid = #{record.cuid,jdbcType=BIGINT},
      </if>
      <if test="record.createdate != null" >
        createDate = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_card
    set cid = #{record.cid,jdbcType=VARCHAR},
      cpoint = #{record.cpoint,jdbcType=VARCHAR},
      cname = #{record.cname,jdbcType=VARCHAR},
      cphone = #{record.cphone,jdbcType=VARCHAR},
      crid = #{record.crid,jdbcType=VARCHAR},
      cdid = #{record.cdid,jdbcType=VARCHAR},
      cuid = #{record.cuid,jdbcType=BIGINT},
      createDate = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinyougou.pojo.TbCard" >
    update tb_card
    <set >
      <if test="cpoint != null" >
        cpoint = #{cpoint,jdbcType=VARCHAR},
      </if>
      <if test="cname != null" >
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="cphone != null" >
        cphone = #{cphone,jdbcType=VARCHAR},
      </if>
      <if test="crid != null" >
        crid = #{crid,jdbcType=VARCHAR},
      </if>
      <if test="cdid != null" >
        cdid = #{cdid,jdbcType=VARCHAR},
      </if>
      <if test="cuid != null" >
        cuid = #{cuid,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where cid = #{cid,jdbcType=VARCHAR}
  </update>
</mapper>