<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinyougou.mapper.TbDoctorUserMapper" >
    
     <insert id="insert" parameterType="java.util.Map" >
       INSERT INTO tb_doctor_user (
								id,
								did,
								uid,
								script,
								create_date
							)
					VALUES
							(
							  #{id}, 
							  #{doctorId}, 
							  #{patientId}, 
							  #{script}, 
							  #{createDate})
    </insert>
    
    <!--&lt;!&ndash;设置一对多  其中column为数据库的字段&ndash;&gt;-->
    <resultMap id="FindDocUser" type="com.pinyougou.pojo.TbDoctor">
        <id column="did" property="did"></id>
        <result column="name" property="name"></result>
        <result column="head_pic" property="headPic"></result>
        <result column="points" property="points"></result>
        <result column="phone" property="phone"></result>
        <result column="points_all" property="points_all"></result>
        <result column="username" property="username"></result>
        <result column="office" property="office"></result>
        <result column="his" property="his"></result>
        <result column="script" property="script"></result>
        <result column="createDate" property="createDate"></result>
        <result column="open_id" property="openId"></result>
        <result column="union_id" property="unionId"></result>
        <result column="ticket" property="ticket"></result>
        <result column="ticket_time" property="ticketTime"></result>
        <collection column="id" property="user" ofType="com.pinyougou.pojo.TbUser">
            <id column="id" property="id"></id>
            <result column="name" property="name"></result>
            <result column="phone" property="phone"></result>
            <result column="headPic" property="headPic"></result>
            <result column="wxCode" property="wxCode"></result>
            <result column="open_id" property="openId"></result>
            <result column="union_id" property="unionId"></result>
            <result column="points" property="points"></result>
            <result column="points_all" property="points_all"></result>
            <result column="username" property="username"></result>
            <result column="script" property="script"></result>
            <result column="created" property="created"></result>
        </collection>
    </resultMap>




    <!--    &lt;!&ndash;查询个人信息&ndash;&gt;-->
    <select id="findAllByIdRepresentative" parameterType="java.lang.Long"
            resultType="com.pinyougou.pojo.TbRepresent">
            SELECT   *  FROM  tb_represent  WHERE  rid=#{rid}
    </select>



    <!--    &lt;!&ndash;编辑个人信息&ndash;&gt;-->
    <update id="EditTbDoc" parameterType="com.pinyougou.pojo.TbDoctor">
        UPDATE tb_doctor
        <set>
            <if test="username!=null">
                username=#{username},
            </if>
            <if test="phone!=null">
                phone=#{phone},
            </if>
            <if test="ticket!=null">
                ticket=#{ticket},
            </if>
            <if test="ticketTime!=null">
                ticket_time=#{ticketTime},
            </if>
            <if test="points!=null">
                points=#{points},
            </if>
            <if test="pointsAll!=null">
                points_all=#{pointsAll},
            </if>
            <if test="script!=null">
                script=#{script},
            </if>
            <if test="hospital!=null">
                hospital=#{hospital},
            </if>
            <if test="office!=null">
                office=#{office},
            </if>
        </set>
        WHERE did=#{did}
    </update>


    <!--&lt;!&ndash;新增銀行卡&ndash;&gt;-->
    <insert id="AddCard" parameterType="java.util.Map">
       INSERT  INTO  tb_card (cid,cpoint,cname,cphone,cdid)  VALUE(UUID(),#{cpoint},#{cname},#{cphone},#{cdid})
    </insert>


    <!--判断银行卡是否重复-->
    <select id="FindCardByCid" resultType="com.pinyougou.pojo.TbCard" parameterType="java.lang.String">
       SELECT *  FROM  tb_card  WHERE   cdid=#{cdid}
    </select>


    <!--查询银行卡-->
    <select id="FindCard" resultType="com.pinyougou.pojo.TbCard" parameterType="java.lang.String">
    SELECT *  FROM  tb_card  WHERE   cdid=#{cdid}
</select>


    <!--&lt;!&ndash;编辑银行卡&ndash;&gt;-->
    <update id="EditCard" parameterType="com.pinyougou.pojo.TbCard">
        UPDATE tb_card
        <set>
            <if test="cpoint!=null">
                cpoint=#{cpoint},
            </if>
            <if test="cname!=null">
                cname=#{cname},
            </if>
            <if test="cphone!=null">
                cphone=#{cphone}
            </if>
            <if test="script!=null">
                script=#{script}
            </if>
        </set>
        WHERE cdid=#{cdid}
    </update>

    <!-- &lt;!&ndash;根据医生查询代表信息&ndash;&gt;-->
    <select id="FindDocUserInner" parameterType="java.lang.Long" resultMap="FindDocUser">
 SELECT  *   FROM   tb_doctor d
  INNER  JOIN  tb_doctor_user  du
  ON  du.did=d.did
  INNER  JOIN tb_user  u
  ON u.id=du.uid
WHERE  d.did=#{did}
</select>


    <!--    &lt;!&ndash;根据医生查询代表信息 count&ndash;&gt;-->
    <select id="FindDocUserInnerCount" parameterType="java.lang.Long" resultType="java.lang.Integer">
 SELECT  COUNT(*)   FROM   tb_doctor d
  INNER  JOIN  tb_doctor_user  du
  ON  du.did=d.did
  INNER  JOIN tb_user  u
  ON u.id=du.uid
WHERE  d.did=#{did}
</select>



    <select  id="findAllByIdUser"  parameterType="java.lang.Long"  resultType="com.pinyougou.pojo.TbUser">
         SELECT *  FROM  tb_user  WHERE  id=#{id}
    </select>
    <!--2019-5-15 开始更新-->


    <!--新增医生患者-->
    <insert id="addInnerDocUser" parameterType="com.pinyougou.pojo.TbRepresentDoctor">
         INSERT INTO  tb_doctor_user(duid,did,uid)VALUE(UUID(),#{did},#{uid})
    </insert>


    <select id="dicountInnerDocUser" parameterType="java.util.Map" resultType="java.lang.Integer">
          SELECT  COUNT(*)  FROM  tb_doctor_user   WHERE     did=#{did}  AND  uid=#{uid}
    </select>

    <!--积分兑换-->


    <!--查询医生的可兑换积分-->
    <select id="findByRePoints" parameterType="java.lang.Long" resultType="java.lang.String">
      SELECT   points FROM  tb_doctor  WHERE   did=#{did}
</select>


    <!--提交兑换积分请求-->
    <insert id="SubmitPointRequest" parameterType="com.pinyougou.pojo.TbPointRequest">
     INSERT INTO  tb_point_request (point,did,caction) VALUE(#{point},#{did},#{caction})
</insert>


    <!--   判断是否重复请求积分-->
    <select id="DiscountByPoint" resultType="java.lang.Integer" parameterType="java.lang.Long">
        SELECT  COUNT(*)  FROM  tb_point_request   WHERE   DATEDIFF(NOW(),create_date) &lt;  7  AND   did=#{did}  AND  caction="1"
</select>

    <!--进行兑换积分审核-->
    <update id="EditPointRequest" parameterType="com.pinyougou.pojo.TbPointRequest">
        update tb_point_request
        <set>
            <if test="roleid!=null">
                roleid=#{roleid}
            </if>
            <if test="cactioncreateDate!=null">
                cactioncreateDate={cactioncreateDate}
            </if>
            <if test="caction!=null">
                caction=#{caction}
            </if>

        </set>
        where prid=#{prid}
    </update>


    <!--   七日内可兑换 -->
    <select id="ServerDayPoint" parameterType="java.lang.Long" resultType="com.pinyougou.pojo.TbPointRequest">
        SELECT *  FROM  tb_point_request  WHERE  DATEDIFF(NOW(),createdate) &lt; 7 AND   prid=#{prid}
    </select>


    <!--    判断七日内是否有数据-->
    <select id="CountByServerDayRequest" resultType="java.lang.Integer">
      SELECT COUNT(*)  FROM  tb_point_request  WHERE  DATEDIFF(NOW(),createdate)  &lt; 7
</select>

    <!--判断是否有该请求的数据-->
    <select id="CheckFindOne" resultType="com.pinyougou.pojo.TbPointRequest" parameterType="java.lang.Long">
      SELECT *  FROM  tb_point_request  where  prid=#{prid}
</select>

    <!--新增积分记录表-->
    <insert id="addPointList" parameterType="com.pinyougou.pojo.TbPointList">
         INSERT  INTO tb_point_list (plid,pdate,rid,point)  VALUE(UUID(),#{pdate},#{rid},#{point})
    </insert>


    <!--    查询积分记录-->
    <select id="FindByPontList" parameterType="java.lang.Long" resultType="com.pinyougou.pojo.TbPointList">
         SELECT  *  FROM  tb_point_list  WHERE  did=#{did}
    </select>


    <!--查询超级管理员的rid-->
    <select id="FindByRoleRid" resultType="java.lang.String">
         SELECT  rid  FROM    tb_role  WHERE   rname="超级管理员"
    </select>


    <!--    计算出积分累计总数在  兑换积分时的差值-->
    <select id="FindPointsAllUpPoints" parameterType="java.util.Map" resultType="java.lang.Integer">
          SELECT  CASE WHEN points_all+#{points} IS NULL THEN 0 ELSE points_all+#{points} END points_all FROM  tb_represent WHERE   rid=#{rid}
    </select>




    <!--    获取申请请求表的prid-->
    <select id="FindPointRequestByPrid" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT  prid  FROM tb_point_request  WHERE  caction="1"  AND DATEDIFF(NOW(),createdate) &lt; 7 AND  did=#{did}
    </select>


    <!--    编辑请求表的已经通过审核的caction-->
    <update id="editByPointRequestCaction" parameterType="java.util.Map">
        update tb_point_request
        <set>
            <if test="caction!=null">
                caction=#{caction}
            </if>
        </set>
        where prid=#{prid}
    </update>


    <!--2019-5-15 更新于此-->


    <!--    &lt;!&ndash;查询医生个人信息&ndash;&gt;-->
    <select id="findAllByIdDoc" parameterType="java.lang.Long" resultType="com.pinyougou.pojo.TbDoctor">
            SELECT   *  FROM  tb_doctor  WHERE  did=#{did}
    </select>


    <sql id="Base_Column_List">
    rid, name, head_pic, points, phone, points_all, username, script, createDate
  </sql>


    <select id="selectByUnionId" resultType="com.pinyougou.pojo.TbRepresent"
            parameterType="com.pinyougou.pojo.TbRepresent">
        select
        <include refid="Base_Column_List"></include>
        from tb_represent where union_id = #{unionId,jdbcType=VARCHAR}
    </select>


    <insert id="add" parameterType="com.pinyougou.pojo.TbRepresent">
  	insert into tb_represent (rid,open_id,union_id) values (#{rid},#{openId,jdbcType=VARCHAR},#{unionId,jdbcType=VARCHAR})
  </insert>


    <update id="updateInfo" parameterType="com.pinyougou.pojo.TbRepresent">
  	update tb_represent set 
  	name = #{name,jdbcType = VARCHAR} ,
  	head_pic = #{headPic,jdbcType=VARCHAR}
  	where rid = #{rid,jdbcType=VARCHAR}
  </update>
    
</mapper>