<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinyougou.mapper.TbDocMapper" >
  <resultMap id="BaseResultMap" type="com.pinyougou.pojo.TbDoc" >
    <id column="did" property="did" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="head_pic" property="headPic" jdbcType="VARCHAR" />
    <result column="points" property="points" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="points_all" property="pointsAll" jdbcType="INTEGER" />
    <result column="office" property="office" jdbcType="VARCHAR" />
    <result column="his" property="his" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="script" property="script" jdbcType="VARCHAR" />
    <result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    did, name, head_pic, points, phone, points_all, office, his, username, script, createDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinyougou.pojo.TbDocExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_doc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_doc
    where did = #{did,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_doc
    where did = #{did,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinyougou.pojo.TbDocExample" >
    delete from tb_doc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinyougou.pojo.TbDoc" >
    <selectKey resultType="java.lang.String" keyProperty="did" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_doc (did, name, head_pic, 
      points, phone, points_all, 
      office, his, username, 
      script, createDate)
    values (#{did,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{headPic,jdbcType=VARCHAR}, 
      #{points,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{pointsAll,jdbcType=INTEGER}, 
      #{office,jdbcType=VARCHAR}, #{his,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{script,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pinyougou.pojo.TbDoc" >
    <selectKey resultType="java.lang.String" keyProperty="did" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_doc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      did,
      <if test="name != null" >
        name,
      </if>
      <if test="headPic != null" >
        head_pic,
      </if>
      <if test="points != null" >
        points,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="pointsAll != null" >
        points_all,
      </if>
      <if test="office != null" >
        office,
      </if>
      <if test="his != null" >
        his,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="script != null" >
        script,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{did,jdbcType=VARCHAR},
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="headPic != null" >
        #{headPic,jdbcType=VARCHAR},
      </if>
      <if test="points != null" >
        #{points,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pointsAll != null" >
        #{pointsAll,jdbcType=INTEGER},
      </if>
      <if test="office != null" >
        #{office,jdbcType=VARCHAR},
      </if>
      <if test="his != null" >
        #{his,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="script != null" >
        #{script,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinyougou.pojo.TbDocExample" resultType="java.lang.Integer" >
    select count(*) from tb_doc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_doc
    <set >
      <if test="record.did != null" >
        did = #{record.did,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.headPic != null" >
        head_pic = #{record.headPic,jdbcType=VARCHAR},
      </if>
      <if test="record.points != null" >
        points = #{record.points,jdbcType=INTEGER},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.pointsAll != null" >
        points_all = #{record.pointsAll,jdbcType=INTEGER},
      </if>
      <if test="record.office != null" >
        office = #{record.office,jdbcType=VARCHAR},
      </if>
      <if test="record.his != null" >
        his = #{record.his,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.script != null" >
        script = #{record.script,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        createDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_doc
    set did = #{record.did,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      head_pic = #{record.headPic,jdbcType=VARCHAR},
      points = #{record.points,jdbcType=INTEGER},
      phone = #{record.phone,jdbcType=VARCHAR},
      points_all = #{record.pointsAll,jdbcType=INTEGER},
      office = #{record.office,jdbcType=VARCHAR},
      his = #{record.his,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      script = #{record.script,jdbcType=VARCHAR},
      createDate = #{record.createdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinyougou.pojo.TbDoc" >
    update tb_doc
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="headPic != null" >
        head_pic = #{headPic,jdbcType=VARCHAR},
      </if>
      <if test="points != null" >
        points = #{points,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pointsAll != null" >
        points_all = #{pointsAll,jdbcType=INTEGER},
      </if>
      <if test="office != null" >
        office = #{office,jdbcType=VARCHAR},
      </if>
      <if test="his != null" >
        his = #{his,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="script != null" >
        script = #{script,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where did = #{did,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinyougou.pojo.TbDoc" >
    update tb_doc
    set 
      phone = #{phone,jdbcType=VARCHAR},
      office = #{office,jdbcType=VARCHAR},
      his = #{his,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR}
    where did = #{did,jdbcType=VARCHAR}
  </update>
  
  <sql id="sql_join">
  	
  </sql>
  
  <select id="selectPatientList" parameterType="com.pinyougou.pojo.TbDoc" resultMap="BaseResultMap">
  	select * from tb_doc tb 
  </select>
  
  <select id="selectByOpenId" resultMap="BaseResultMap" parameterType="com.pinyougou.pojo.TbDoc">
  	select * from tb_doc where open_id = #{openId,jdbcType=VARCHAR}
  </select>
  
  <insert id="add" parameterType="com.pinyougou.pojo.TbDoc">
  	insert into tb_doc (did,open_id) values (UUID(),#{openId,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateInfo" parameterType="com.pinyougou.pojo.TbDoc">
  	update tb_doc set 
  	name = #{name,jdbcType = VARCHAR} ,
  	head_pic = #{headPic,jdbcType=VARCHAR}
  	where did = #{did,jdbcType=VARCHAR}
  </update>
</mapper>