<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinyougou.mapper.TbOrderSpeMapper" >

    <resultMap id="BaseResultMap" type="com.pinyougou.pojo.TbOrderSpe" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="order_id" property="orderId" jdbcType="BIGINT" />
        <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
        <result column="spe_id" property="speId" jdbcType="BIGINT" />
        <result column="spe_op_id" property="speOpId" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, order_id, goods_id, spe_id, spe_op_id
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinyougou.pojo.TbOrderSpeExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from tb_order_spe
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from tb_order_spe
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from tb_order_spe
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByExample" parameterType="com.pinyougou.pojo.TbOrderSpeExample" >
        delete from tb_order_spe
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.pinyougou.pojo.TbOrderSpe" >
        insert into tb_order_spe (id, order_id, goods_id, 
            spe_id, spe_op_id)
        values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, 
            #{speId,jdbcType=BIGINT}, #{speOpId,jdbcType=BIGINT})
    </insert>

    <insert id="insertSelective" parameterType="com.pinyougou.pojo.TbOrderSpe" >
        insert into tb_order_spe
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="orderId != null" >
                order_id,
            </if>
            <if test="goodsId != null" >
                goods_id,
            </if>
            <if test="speId != null" >
                spe_id,
            </if>
            <if test="speOpId != null" >
                spe_op_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="orderId != null" >
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="goodsId != null" >
                #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="speId != null" >
                #{speId,jdbcType=BIGINT},
            </if>
            <if test="speOpId != null" >
                #{speOpId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.pinyougou.pojo.TbOrderSpeExample" resultType="java.lang.Integer" >
        select count(*) from tb_order_spe
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update tb_order_spe
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.orderId != null" >
                order_id = #{record.orderId,jdbcType=BIGINT},
            </if>
            <if test="record.goodsId != null" >
                goods_id = #{record.goodsId,jdbcType=BIGINT},
            </if>
            <if test="record.speId != null" >
                spe_id = #{record.speId,jdbcType=BIGINT},
            </if>
            <if test="record.speOpId != null" >
                spe_op_id = #{record.speOpId,jdbcType=BIGINT},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update tb_order_spe
        set id = #{record.id,jdbcType=BIGINT},
            order_id = #{record.orderId,jdbcType=BIGINT},
            goods_id = #{record.goodsId,jdbcType=BIGINT},
            spe_id = #{record.speId,jdbcType=BIGINT},
            spe_op_id = #{record.speOpId,jdbcType=BIGINT}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.pinyougou.pojo.TbOrderSpe" >
        update tb_order_spe
        <set >
            <if test="orderId != null" >
                order_id = #{orderId,jdbcType=BIGINT},
            </if>
            <if test="goodsId != null" >
                goods_id = #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="speId != null" >
                spe_id = #{speId,jdbcType=BIGINT},
            </if>
            <if test="speOpId != null" >
                spe_op_id = #{speOpId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.pinyougou.pojo.TbOrderSpe" >
        update tb_order_spe
        set order_id = #{orderId,jdbcType=BIGINT},
            goods_id = #{goodsId,jdbcType=BIGINT},
            spe_id = #{speId,jdbcType=BIGINT},
            spe_op_id = #{speOpId,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <select id="selectOrdSpeListByOGID" parameterType="java.util.Map" resultType="java.util.Map">
               SELECT
					t.spe_id speId,
					(
						SELECT
							t1.spec_name
						FROM
							tb_specification t1
						WHERE
							t1.id = t.spe_id
					) speName,
					t.spe_op_id speOpId,
					(
						SELECT
							t2.option_name
						FROM
							tb_specification_option t2
						WHERE
							t2.id = t.spe_op_id
					) optionName
				FROM
					tb_order_spe t
				WHERE
					t.goods_id = #{goodsId}
				AND t.order_id = #{orderId}
    </select>
</mapper>