<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinyougou.mapper.TbUserMapper" >
   <resultMap id="BaseResultMap" type="com.pinyougou.pojo.TbUser" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="source_type" property="sourceType" jdbcType="VARCHAR" />
        <result column="union_id" property="unionId" jdbcType="VARCHAR" />
        <result column="open_id" property="openId" jdbcType="VARCHAR" />
        <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="head_pic" property="headPic" jdbcType="VARCHAR" />
        <result column="wx_code" property="wxCode" jdbcType="VARCHAR" />
        <result column="account_balance" property="accountBalance" jdbcType="DECIMAL" />
        <result column="is_mobile_check" property="isMobileCheck" jdbcType="VARCHAR" />
        <result column="is_email_check" property="isEmailCheck" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="user_level" property="userLevel" jdbcType="INTEGER" />
        <result column="experience_value" property="experienceValue" jdbcType="INTEGER" />
        <result column="birthday" property="birthday" jdbcType="VARCHAR" />
        <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
        <result column="points" property="points" jdbcType="DECIMAL" />
        <result column="points_all" property="pointsAll" jdbcType="DECIMAL" />
        <result column="illness" property="illness" jdbcType="VARCHAR" />
        <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
        <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, username, password, phone, email, create_date, update_date, source_type, union_id, 
        open_id, nick_name, name, status, head_pic, wx_code, account_balance, is_mobile_check, 
        is_email_check, sex, user_level, experience_value, birthday, last_login_time, points, 
        points_all, illness, is_delete, delete_time, remarks
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinyougou.pojo.TbUserExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from tb_user
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from tb_user
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from tb_user
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByExample" parameterType="com.pinyougou.pojo.TbUserExample" >
        delete from tb_user
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.pinyougou.pojo.TbUser" >
        insert into tb_user (id, username, password, 
            phone, email, create_date, 
            update_date, source_type, union_id, 
            open_id, nick_name, name, 
            status, head_pic, wx_code, 
            account_balance, is_mobile_check, is_email_check, 
            sex, user_level, experience_value, 
            birthday, last_login_time, points, 
            points_all, illness, is_delete, 
            delete_time, remarks)
        values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
            #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
            #{updateDate,jdbcType=TIMESTAMP}, #{sourceType,jdbcType=VARCHAR}, #{unionId,jdbcType=VARCHAR}, 
            #{openId,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
            #{status,jdbcType=VARCHAR}, #{headPic,jdbcType=VARCHAR}, #{wxCode,jdbcType=VARCHAR}, 
            #{accountBalance,jdbcType=DECIMAL}, #{isMobileCheck,jdbcType=VARCHAR}, #{isEmailCheck,jdbcType=VARCHAR}, 
            #{sex,jdbcType=VARCHAR}, #{userLevel,jdbcType=INTEGER}, #{experienceValue,jdbcType=INTEGER}, 
            #{birthday,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{points,jdbcType=DECIMAL}, 
            #{pointsAll,jdbcType=DECIMAL}, #{illness,jdbcType=VARCHAR}, #{isDelete,jdbcType=VARCHAR}, 
            #{deleteTime,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.pinyougou.pojo.TbUser" >
        insert into tb_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="username != null" >
                username,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="createDate != null" >
                create_date,
            </if>
            <if test="updateDate != null" >
                update_date,
            </if>
            <if test="sourceType != null" >
                source_type,
            </if>
            <if test="unionId != null" >
                union_id,
            </if>
            <if test="openId != null" >
                open_id,
            </if>
            <if test="nickName != null" >
                nick_name,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="headPic != null" >
                head_pic,
            </if>
            <if test="wxCode != null" >
                wx_code,
            </if>
            <if test="accountBalance != null" >
                account_balance,
            </if>
            <if test="isMobileCheck != null" >
                is_mobile_check,
            </if>
            <if test="isEmailCheck != null" >
                is_email_check,
            </if>
            <if test="sex != null" >
                sex,
            </if>
            <if test="userLevel != null" >
                user_level,
            </if>
            <if test="experienceValue != null" >
                experience_value,
            </if>
            <if test="birthday != null" >
                birthday,
            </if>
            <if test="lastLoginTime != null" >
                last_login_time,
            </if>
            <if test="points != null" >
                points,
            </if>
            <if test="pointsAll != null" >
                points_all,
            </if>
            <if test="illness != null" >
                illness,
            </if>
            <if test="isDelete != null" >
                is_delete,
            </if>
            <if test="deleteTime != null" >
                delete_time,
            </if>
            <if test="remarks != null" >
                remarks,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="username != null" >
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null" >
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null" >
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="sourceType != null" >
                #{sourceType,jdbcType=VARCHAR},
            </if>
            <if test="unionId != null" >
                #{unionId,jdbcType=VARCHAR},
            </if>
            <if test="openId != null" >
                #{openId,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null" >
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="headPic != null" >
                #{headPic,jdbcType=VARCHAR},
            </if>
            <if test="wxCode != null" >
                #{wxCode,jdbcType=VARCHAR},
            </if>
            <if test="accountBalance != null" >
                #{accountBalance,jdbcType=DECIMAL},
            </if>
            <if test="isMobileCheck != null" >
                #{isMobileCheck,jdbcType=VARCHAR},
            </if>
            <if test="isEmailCheck != null" >
                #{isEmailCheck,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="userLevel != null" >
                #{userLevel,jdbcType=INTEGER},
            </if>
            <if test="experienceValue != null" >
                #{experienceValue,jdbcType=INTEGER},
            </if>
            <if test="birthday != null" >
                #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null" >
                #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="points != null" >
                #{points,jdbcType=DECIMAL},
            </if>
            <if test="pointsAll != null" >
                #{pointsAll,jdbcType=DECIMAL},
            </if>
            <if test="illness != null" >
                #{illness,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null" >
                #{isDelete,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null" >
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null" >
                #{remarks,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.pinyougou.pojo.TbUserExample" resultType="java.lang.Integer" >
        select count(*) from tb_user
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update tb_user
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.username != null" >
                username = #{record.username,jdbcType=VARCHAR},
            </if>
            <if test="record.password != null" >
                password = #{record.password,jdbcType=VARCHAR},
            </if>
            <if test="record.phone != null" >
                phone = #{record.phone,jdbcType=VARCHAR},
            </if>
            <if test="record.email != null" >
                email = #{record.email,jdbcType=VARCHAR},
            </if>
            <if test="record.createDate != null" >
                create_date = #{record.createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateDate != null" >
                update_date = #{record.updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.sourceType != null" >
                source_type = #{record.sourceType,jdbcType=VARCHAR},
            </if>
            <if test="record.unionId != null" >
                union_id = #{record.unionId,jdbcType=VARCHAR},
            </if>
            <if test="record.openId != null" >
                open_id = #{record.openId,jdbcType=VARCHAR},
            </if>
            <if test="record.nickName != null" >
                nick_name = #{record.nickName,jdbcType=VARCHAR},
            </if>
            <if test="record.name != null" >
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null" >
                status = #{record.status,jdbcType=VARCHAR},
            </if>
            <if test="record.headPic != null" >
                head_pic = #{record.headPic,jdbcType=VARCHAR},
            </if>
            <if test="record.wxCode != null" >
                wx_code = #{record.wxCode,jdbcType=VARCHAR},
            </if>
            <if test="record.accountBalance != null" >
                account_balance = #{record.accountBalance,jdbcType=DECIMAL},
            </if>
            <if test="record.isMobileCheck != null" >
                is_mobile_check = #{record.isMobileCheck,jdbcType=VARCHAR},
            </if>
            <if test="record.isEmailCheck != null" >
                is_email_check = #{record.isEmailCheck,jdbcType=VARCHAR},
            </if>
            <if test="record.sex != null" >
                sex = #{record.sex,jdbcType=VARCHAR},
            </if>
            <if test="record.userLevel != null" >
                user_level = #{record.userLevel,jdbcType=INTEGER},
            </if>
            <if test="record.experienceValue != null" >
                experience_value = #{record.experienceValue,jdbcType=INTEGER},
            </if>
            <if test="record.birthday != null" >
                birthday = #{record.birthday,jdbcType=VARCHAR},
            </if>
            <if test="record.lastLoginTime != null" >
                last_login_time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.points != null" >
                points = #{record.points,jdbcType=DECIMAL},
            </if>
            <if test="record.pointsAll != null" >
                points_all = #{record.pointsAll,jdbcType=DECIMAL},
            </if>
            <if test="record.illness != null" >
                illness = #{record.illness,jdbcType=VARCHAR},
            </if>
            <if test="record.isDelete != null" >
                is_delete = #{record.isDelete,jdbcType=VARCHAR},
            </if>
            <if test="record.deleteTime != null" >
                delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.remarks != null" >
                remarks = #{record.remarks,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update tb_user
        set id = #{record.id,jdbcType=BIGINT},
            username = #{record.username,jdbcType=VARCHAR},
            password = #{record.password,jdbcType=VARCHAR},
            phone = #{record.phone,jdbcType=VARCHAR},
            email = #{record.email,jdbcType=VARCHAR},
            create_date = #{record.createDate,jdbcType=TIMESTAMP},
            update_date = #{record.updateDate,jdbcType=TIMESTAMP},
            source_type = #{record.sourceType,jdbcType=VARCHAR},
            union_id = #{record.unionId,jdbcType=VARCHAR},
            open_id = #{record.openId,jdbcType=VARCHAR},
            nick_name = #{record.nickName,jdbcType=VARCHAR},
            name = #{record.name,jdbcType=VARCHAR},
            status = #{record.status,jdbcType=VARCHAR},
            head_pic = #{record.headPic,jdbcType=VARCHAR},
            wx_code = #{record.wxCode,jdbcType=VARCHAR},
            account_balance = #{record.accountBalance,jdbcType=DECIMAL},
            is_mobile_check = #{record.isMobileCheck,jdbcType=VARCHAR},
            is_email_check = #{record.isEmailCheck,jdbcType=VARCHAR},
            sex = #{record.sex,jdbcType=VARCHAR},
            user_level = #{record.userLevel,jdbcType=INTEGER},
            experience_value = #{record.experienceValue,jdbcType=INTEGER},
            birthday = #{record.birthday,jdbcType=VARCHAR},
            last_login_time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
            points = #{record.points,jdbcType=DECIMAL},
            points_all = #{record.pointsAll,jdbcType=DECIMAL},
            illness = #{record.illness,jdbcType=VARCHAR},
            is_delete = #{record.isDelete,jdbcType=VARCHAR},
            delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
            remarks = #{record.remarks,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.pinyougou.pojo.TbUser" >
        update tb_user
        <set >
            <if test="username != null" >
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null" >
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="sourceType != null" >
                source_type = #{sourceType,jdbcType=VARCHAR},
            </if>
            <if test="unionId != null" >
                union_id = #{unionId,jdbcType=VARCHAR},
            </if>
            <if test="openId != null" >
                open_id = #{openId,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null" >
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="headPic != null" >
                head_pic = #{headPic,jdbcType=VARCHAR},
            </if>
            <if test="wxCode != null" >
                wx_code = #{wxCode,jdbcType=VARCHAR},
            </if>
            <if test="accountBalance != null" >
                account_balance = #{accountBalance,jdbcType=DECIMAL},
            </if>
            <if test="isMobileCheck != null" >
                is_mobile_check = #{isMobileCheck,jdbcType=VARCHAR},
            </if>
            <if test="isEmailCheck != null" >
                is_email_check = #{isEmailCheck,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="userLevel != null" >
                user_level = #{userLevel,jdbcType=INTEGER},
            </if>
            <if test="experienceValue != null" >
                experience_value = #{experienceValue,jdbcType=INTEGER},
            </if>
            <if test="birthday != null" >
                birthday = #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null" >
                last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="points != null" >
                points = #{points,jdbcType=DECIMAL},
            </if>
            <if test="pointsAll != null" >
                points_all = #{pointsAll,jdbcType=DECIMAL},
            </if>
            <if test="illness != null" >
                illness = #{illness,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null" >
                is_delete = #{isDelete,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null" >
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null" >
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.pinyougou.pojo.TbUser" >
        update tb_user
        set username = #{username,jdbcType=VARCHAR},
            password = #{password,jdbcType=VARCHAR},
            phone = #{phone,jdbcType=VARCHAR},
            email = #{email,jdbcType=VARCHAR},
            create_date = #{createDate,jdbcType=TIMESTAMP},
            update_date = #{updateDate,jdbcType=TIMESTAMP},
            source_type = #{sourceType,jdbcType=VARCHAR},
            union_id = #{unionId,jdbcType=VARCHAR},
            open_id = #{openId,jdbcType=VARCHAR},
            nick_name = #{nickName,jdbcType=VARCHAR},
            name = #{name,jdbcType=VARCHAR},
            status = #{status,jdbcType=VARCHAR},
            head_pic = #{headPic,jdbcType=VARCHAR},
            wx_code = #{wxCode,jdbcType=VARCHAR},
            account_balance = #{accountBalance,jdbcType=DECIMAL},
            is_mobile_check = #{isMobileCheck,jdbcType=VARCHAR},
            is_email_check = #{isEmailCheck,jdbcType=VARCHAR},
            sex = #{sex,jdbcType=VARCHAR},
            user_level = #{userLevel,jdbcType=INTEGER},
            experience_value = #{experienceValue,jdbcType=INTEGER},
            birthday = #{birthday,jdbcType=VARCHAR},
            last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
            points = #{points,jdbcType=DECIMAL},
            points_all = #{pointsAll,jdbcType=DECIMAL},
            illness = #{illness,jdbcType=VARCHAR},
            is_delete = #{isDelete,jdbcType=VARCHAR},
            delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            remarks = #{remarks,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

<select id="selectByUnionId" parameterType="com.pinyougou.pojo.TbUser"
		resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from tb_user where union_id =
		#{unionId,jdbcType=VARCHAR}
	</select>
	
	<select id="selectByOpenId" parameterType="com.pinyougou.pojo.TbUser"
		resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from tb_user where open_id =
		#{openId,jdbcType=VARCHAR}
	</select>
	
	
	<select id="selectListByDid" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		SELECT
			t1.id,
			t1.username,
			t1.phone,
			t1.email,
			t1.created,
			t1.source_type,
			t1.union_id,
			t1.open_id,
			t1.nick_name,
			t1. NAME,
			t1. STATUS,
			t1.head_pic,
			t1.wx_code,
			t1.sex,
			t1.user_level,
			t1.experience_value,
			t1.birthday,
			t1.last_login_time,
			t1.points,
			t1.points_all,
			t1.illness
		FROM
			tb_user t1
		LEFT JOIN tb_doctor_user t2 ON t1.id = t2.uid
		WHERE
			t2.did = #{did}
	</select>
	
	<update id="BindDid" parameterType="com.pinyougou.pojo.TbUser">
		update tb_user set did = #{did,jdbcType=VARCHAR} where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>